<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/clim_chart.css') }}">
        <script src="{{ url_for('static', filename='/js/clim_station_chart.js')}}"></script>
    </head>
    <body>
        <div class="dashboard">
            <div id="ctrlPanel" class="ctrlPanel">

                    <div id="variable" class="control">
                        <label class="title">Variable</label>
                        <div class="selector">
                            <select id="variableSelect" class="selector">
                                <option value="tmin">min. temperature</option>
                                <option value="tmax">max. temperature</option>
                                <option value="tavg">avg. temperature</option>
                                <option value="prcp">precipitation</option>
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <label class="title">From</label>
                        <input type="text" id="yearFrom" value="50" class="year" readonly>
                        <input type="range" min={{year_init}} max={{year_end}} value={{year_init}} class="slider" id="yearFromSlider">
                        <div class="scale">
                            <span>{{year_init}}</span>
                            <span>{{year_end}}</span>
                        </div>
                        <input type="text" id="monthFrom" value="" class="month" readonly>
                        <input type="range" min="0" max="11" value="0" class="slider" id="monthFromSlider">
                        <div class="scale">
                            <span>January</span>
                            <span>December</span>
                        </div>
                    </div>
                    <div class="control">
                        <label class="title">To</label>
                        <input type="text" id="yearTo" value="50" class="year" readonly>
                        <input type="range" min={{year_init}} max={{year_end}} value={{year_init}} class="slider" id="yearToSlider">
                        <div class="scale">
                            <span>{{year_init}}</span>
                            <span>{{year_end}}</span>
                        </div>
                        <input type="text" id="monthTo" value="" class="month" readonly>
                        <input type="range" min="0" max="11" value="0" class="slider" id="monthToSlider">
                        <div class="scale">
                            <span>January</span>
                            <span>December</span>
                        </div>
                    </div>
                    <button class="setButton" id="seeButton">See Data</button>
                    <button id="downloadCSVBtn" class="downloadCSVBtn">Download CSV</button>
            </div>
            <div class="chart">
                <canvas id="myChart" style="background-color: rgb(243, 243, 243);"></canvas>
            </div>
        </div>
        <script>
            createElements("{{lat}}","{{lon}}","{{layer}}","{{year_init}}","{{year_end}}","{{color_min}}","{{color_max}}");
        </script>
    </body>
</html>