<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drought Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_map.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw/dist/leaflet.draw.css" />
    <script src="{{ url_for('static', filename='/js/main_map.js')}}"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-draw/dist/leaflet.draw.js"></script>
</head>
<body>
    <!-- Top Navigation Bar -->
    <nav class="main-navbar">
        <div class="navbar-title">Drought Observatory</div>
        <div class="navbar-menu">
            <button class="navbar-btn">Home</button>
            <button class="navbar-btn">About</button>
            <button class="navbar-btn">Contact</button>
        </div>
    </nav>

    <!-- Map Container -->
    <div id="map-container">
        <div id="map"></div>
    </div>

    <script>
        // Basic Leaflet map
        const cfg = {{ map_config | tojson }};
	    new Map(cfg,"map");
    </script>
</body>
</html>